header>nav ul>li:nth-child(odd) {border:1px solid green;transform: perspective(30px) rotateX(20deg) translateY(-7px);}
header>nav ul>li:nth-child(even) {border:1px solid green;transform: perspective(30px) rotateX(-20deg) translateY(5px);}
header>nav ul>li section{transform: perspective(0) rotateX(-20deg) translateY(7px);}